// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    flex-direction: column;
    gap: 4px;

    img {
        width: 45vw;
    }

    h1 {
        color: #001B79;
        font-size: 3.5vw;
        border-bottom: 2px solid;
        width: fit-content;
    }
}

.navbar-brand {
    gap: 5px;
    display: flex;
    align-items: center;

    .logo {
        height: 32px;
    }
}

.add-post {
    position: fixed;
    border-radius: 50%;
    height: 50px;
    font-weight: bold;
    border: none;
    background-color: #1640D6;
    color: white;
    bottom: 75px;
    right: 75px;
}

.add-post:hover,
.post-bt:hover,
.cmnt-bt:hover {
    background-color: #2B3499;
    transform: scale(1.1);
    transition: 100ms;
}

.py-4 {
    padding-inline: 17vw;
}

.post-bt,
.edit-bt,
.cmnt-bt {
    background-color: #1640D6;
    color: white;
    font-weight: 600;
    padding: 8px 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.create {
    display: flex;
    flex-direction: column;

    gap: 56px;

    form {
        div {
            margin-bottom: 20px;

            label {
                font-size: large;
                padding-right: 10px;
            }
        }
    }
}

.home {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 18px;
    
    .card {
        height: 500px;
        width: 375px;
        border: none;

        form,
        form > input {
            height: 93%;
            border-radius: inherit;
            width: inherit;
            object-fit: cover;
        }
    }

    .card:hover {
        transform: scale(1.02);
        transition: 100ms;
    }
}

.func {
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    padding-top: 3px;

    .func-1,
    .func-2 {
        display: flex;
        gap: 5px;

        form input {
            width: 24px;
        }

        form input:hover {
            transform: scale(1.2);
            transition: 100ms;
        }

        a > svg {
            width: 24px;
        }

        a > svg:hover {
            transform: scale(1.2);
            transition: 100ms;
        }
    }
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;

    .post img {
        max-width: 100%;
        border-radius: 5px;
    }

    .func {
        padding-top: 7px;
        .func-1,
        .func-2 {
            form input,
            a svg {
                width: 32px;;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 7px;
        align-self: flex-start;

        label {
            font-size: 22px;
            font-weight: bold;
        }

        input {
            align-self: flex-start;
        }
    }
}

.comments {
    align-self: flex-start;
    .cmnt p {
        font-size: 16px;
    }
}

.description p {
    font-size: 18px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;

    a img {
        height: 32px;
        border-radius: 50%;
    }

    a img:hover {
      background-color: #D0D4CA; 
      transform: scale(1.2); 
      transition: 100ms;
    }
}